@CHARSET "ISO-8859-1";

.fileUpload {
    position: relative;
    overflow: hidden;
<<<<<<< HEAD
}
=======
   
}

>>>>>>> cbaaa38b3144dae3eaff9426623fe06f463b1aeb
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}